@mixin container {
    @at-root {
        body {
            @content;

            [class*="search-decorations--"]{
                background-color: transparent !important;
            }

            [class*="superbanner-background-image--"] {
                display: none;
            }

            @font-face {
                font-family: 'alifont';  /* Project id 4687833 */
                src: url('//at.alicdn.com/t/c/font_4687833_rvnwr9z93xd.woff2?t=1726676920471') format('woff2'),
                     url('//at.alicdn.com/t/c/font_4687833_rvnwr9z93xd.woff?t=1726676920471') format('woff'),
                     url('//at.alicdn.com/t/c/font_4687833_rvnwr9z93xd.ttf?t=1726676920471') format('truetype');
            }

            .tbh-superbanner {
                display: none !important;
            }
        }
    }
}

/* 设置背景色专用 */
@mixin bg {
    @at-root {
        body {
            background: var(--bg) !important;

            @content;
        }
    }
}

@mixin site-nav {
    #J_SiteNavBd {
        @content;
    }
}

@mixin logo-left {
    .tbh-logo {
        margin-left: 0 !important;
        @content;
    }
}

@mixin search {
    .search-suggest {
        @content;

        .search-suggest-tabs {
            margin-top: 2px !important;
        }
    }
}

@mixin logo-right {
    .tbh-logo-right {
        margin-right: 0 !important;
        border-radius: 16px !important;
        overflow: hidden;
        @content;
    }
}

@mixin screen {
    @at-root {
        .screen-outer {
            background: var(--bg) !important;

            @content;

            :where(.main, .main-inner) {
                background: transparent !important;
            }

            .main-inner {
                padding-left: 0 !important;
            }
        }
    }
}

@mixin category {
    .J_Service {
        margin-left: 0;
        padding: 2px;
        display: flex;
        flex-direction: column;
        border-radius: 16px;

        box-sizing: border-box;
        background-color: var(--border-color);
        background-clip: padding-box, border-box !important;
        background-origin: padding-box, border-box !important;
        border: 2px solid transparent !important;

        > * {
            background: var(--block-bg-color) !important;
        }

        * {
            color: var(--font-color) !important;
        }

        > div {
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
        }

        > ul {
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
            flex: 1;
            padding-bottom: 0 !important;
        }

        [class*=cate-title-icon] {
            display: none;
        }

        [class^=cate-title-txt] {
            &::after {
                $width: 32px;
                content: '';
                display: inline-block;
                width: $width;
                height: $width / 2;
                background: url(https://img.alicdn.com/imgextra/i4/2365397011/O1CN01mTNYWs21f5oC9oc4M_!!2365397011-2-tblife2_ugc.png) no-repeat center / cover;
                transform: translate3d(10px, 2px, 0)
            }
        }

        @content;
    }
}

@mixin nav {
    .tbh-nav {
        background: var(--border-color) !important;
        border-radius: 99999px !important;
        margin-bottom: 13px !important;
        box-sizing: border-box;

        > .newnav {
            border-radius: 99999px !important;
            overflow: hidden;
            background: var(--block-bg-color) !important;
            box-sizing: border-box;
            background: var(--item-bg-color);
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 0 !important;
            padding-inline: 10px;
        }

        li {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            flex-shrink: 0;
            width: fit-content !important;
        }

        a {
            height: 100%;
            line-height: 1.5;
            padding: 2px 16px;
            background: var(--item-bg-color) !important;
            white-space: nowrap;
            border-radius: 9999px !important;
        }

        .pipe {
            display: none !important;
        }

        @content;
    }
}

@mixin baiyibutie {
    .business-entry-container {
        .business-entry-large-item-card {
            background: var(--border-color) !important;
            box-sizing: border-box;

            @content;

            * {
                color: var(--font-color) !important;
            }

            [class$=container-image] {
                background: var(--image-bg-color) !important;
            }

            [class$=coin] {
                color: var(--price-font-color) !important;
            }
        }
    }
}

@mixin jianghu {
    .business-entry-container {
        .business-entry-bbs-card {
            box-sizing: border-box;
            background-image: linear-gradient(to right, var(--block-bg-color), var(--block-bg-color)), var(--border-color) !important;
            background-clip: padding-box, border-box !important;
            background-origin: padding-box, border-box !important;
            border: 2px solid transparent !important;

            @content;

            * {
                color: var(--font-color) !important;
            }
            
            :where([class*=top-title], .mytao-icon) {
                color: var(--title-color) !important;
            }
        }
    }
}

@mixin other1 {
    .business-entry-container {
        > .business-entry-small-item-card[class^=business-entry-]:nth-of-type(4) {
            background: var(--border-color) !important;
            box-sizing: border-box;

            @content;

            * {
                color: var(--font-color) !important;
            }

            [class$=container-image] {
                background: var(--image-bg-color) !important;
            }

            .business-entry-small-item-card-content-image {
                position: relative;
                overflow: initial;

                img {
                    position: relative;
                    z-index: 1;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    width: 80px;
                    height: 80px;
                    z-index: 0;
                    background-color: #fff;
                    border-radius: 8px;
                }
            }

            [class$=coin] {
                color: var(--price-font-color) !important;
            }
        }
    }
}

@mixin other2 {
    .business-entry-container {
        > .business-entry-small-item-card[class^=business-entry-]:nth-of-type(5) {
            background: var(--border-color) !important;
            box-sizing: border-box;

            @content;

            * {
                color: var(--font-color) !important;
            }

            [class$=container-image] {
                background: var(--image-bg-color) !important;
            }

            [class$=coin] {
                color: var(--price-font-color) !important;
            }

            .business-entry-small-item-card-content-image {
                position: relative;
                overflow: initial;

                img {
                    position: relative;
                    z-index: 1;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    width: 80px;
                    height: 80px;
                    z-index: 0;
                    background-color: #fff;
                    border-radius: 8px;
                }
            }
        }
    }
}

@mixin live {
    .business-entry-container {
        > .business-entry-live-card {
            background: var(--block-bg-color) !important;
            box-sizing: border-box;
            background-image: linear-gradient(to right, var(--block-bg-color), var(--block-bg-color)), var(--border-color) !important;
            background-clip: padding-box, border-box !important;
            background-origin: padding-box, border-box !important;
            border: 2px solid transparent !important;
            @content;

            :where([class*=top-title], .mytao-icon) {
                color: var(--title-color) !important;
            }
        }
    }
}

@mixin user {
    @at-root {
        .col-right[role=complementary] {
            background: var(--border-color) !important;
            border-radius: 16px;
            margin-right: 0 !important;
            margin-left: 15px;

            .tbh-user {
                position: relative;
                border-radius: 17px;

                box-sizing: border-box;
                background-color: var(--block-bg-color);
                background-clip: padding-box, border-box !important;
                background-origin: padding-box, border-box !important;
                border: 2px solid transparent !important;
    
                :where(.member-bd, .user-mytao, .member-column-4) {
                    display: flex;
                }
    
                .user-externalLink {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                * {
                    color: var(--font-color) !important;
                }
            }

            .member-avatar-order {
                border: 1px solid var(--avatar-border-color);
            }

            .user-order-main {
                background: var(--border-color) !important;
                padding: 4px;
                margin-left: 0;

                > div {
                    overflow: hidden;
                    border-radius: inherit;
                    
                    * {
                        color: var(--block-bg-color) !important;
                    };
                }
            }

            .user-mytao {
                margin-top: 4px !important;
            }
            
            .user-externalLink {
                margin-top: 4px !important;
            }

            @content;
        }
    }
}

/** ================ 列表部分 ================  **/

/* 列表容器 */
@mixin layer {
    @at-root {
        .layer {
            background: transparent !important;
            
            > .layer-inner {
                background: transparent !important;
            }

            @content;
        }
    }
}

@mixin tab {
    .smallTabListWrapper  {
        border-radius: 9999px;
        padding-left: 24px;
        height: 60px !important;
        margin: 8px 0 12px;

        box-sizing: border-box;
        background-image: linear-gradient(to right, var(--block-bg-color), var(--block-bg-color)), var(--border-color) !important;
        background-clip: padding-box, border-box !important;
        background-origin: padding-box, border-box !important;
        border: 2px solid transparent !important;

        &.smallTabListWrapperFixed {
            background: var(--fixed-bg-color) !important;
            margin-top: 0px !important;
        }

        .smallTabTitle {
            color: inherit !important;
        }

        .smallTabWrapper {
            background: var(--item-bg-color);
            padding: 8px 16px;
            border-radius: 9999px;
            margin-right: 20px;
            color: var(--item-font-color);

            &.smallTabWrapperSelected {
                background: var(--item-active-bg-color);
                color: var(--item-active-font-color);

                box-sizing: border-box;
                background-image: linear-gradient(to right, var(--item-active-bg-color), var(--item-active-bg-color)), var(--item-active-border-color) !important;
                background-clip: padding-box, border-box !important;
                background-origin: padding-box, border-box !important;
                border: 1px solid transparent !important;
            }

            img {
                display: none;
            }

            &::before {
                content: '';
                font-family: 'alifont' !important;
                width: 20px !important;
                height: 20px !important;
                position: static;
                background: none;
                font-size: 14px;
            }

            &:nth-of-type(1)::before {
                content: "\e621";
                color: #FE4646;
            }
            &:nth-of-type(2)::before {
                background: url(https://img.alicdn.com/imgextra/i3/2365397011/O1CN01phynYp21f5oGA4LoS_!!2365397011-2-tblife2_ugc.png) no-repeat left center / 14px auto;
            }
            &:nth-of-type(3)::before {
                background: url(https://img.alicdn.com/imgextra/i1/2365397011/O1CN01Yin8j321f5oFPopjq_!!2365397011-2-tblife2_ugc.png) no-repeat left center / 14px auto;
            }
            &:nth-of-type(4)::before {
                background: url(https://img.alicdn.com/imgextra/i2/2365397011/O1CN01MrY6fa21f5oEM1ni5_!!2365397011-2-tblife2_ugc.png) no-repeat left center / 14px auto;
            }
            &:nth-of-type(5)::before {
                content: "\e617";
                color: #CEA2F9;
            }
            &:nth-of-type(6)::before {
                background: url(https://img.alicdn.com/imgextra/i2/2365397011/O1CN01DhZ6St21f5oGv7LP3_!!2365397011-2-tblife2_ugc.png) no-repeat left center / 14px auto;
            }
            &:nth-of-type(7)::before {
                content: "\e61e";
                color: #4172E0;
                font-size: 18px;
                margin-top: -4px;
            }
        }

        @content;
    }
}

@mixin list {
    .tb-pick-feeds-container {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;

        .tb-pick-content-item {
            margin: 0 !important;
            border-radius: 16px;
        }

        .img-wrapper {
            width: 220px !important;
            height: 220px !important;
            margin-left: 10px;
            margin-top: 10px;
        }

        .info-wrapper-title, .tag-list, .price-wrapper {
            margin-inline: 10px !important;
        }

        @content;

    }
}
