@use './theme';


@include theme.container {
    // 边框颜色
    --border-color: linear-gradient(180deg, #FC5AB0 0%, #FB8F82 100%);
    // 块元素
    --block-bg-color: #fff;

    @include theme.bg {
        --bg: #FF8C42;
    };

    /* 分类，轮播图，用户等等核心面板区域*/
    @include theme.screen {
        --bg: transparent;

        @include theme.category {
            --font-color: #7B61FF;
        }

        @include theme.nav {
            --item-bg-color: #FFFACD;
        }

        @include theme.baiyibutie {
            --font-color: #fff;
            --price-font-color: #FFFACD;
            --image-bg-color: #fff;
        }

        @include theme.jianghu {
            --font-color: #A09FFA;
            --title-color: #7B61FF;
        }

        @include theme.other1 {
            --font-color: #fff;
            --price-font-color: #FFFACD;
            --image-bg-color: #fff;
            // --font-color: #7B61FF;
            // --price-font-color: #A09FFA;
            // --image-bg-color: #fff;
        }

        @include theme.other2 {
            --font-color: #fff;
            --price-font-color: #FFFACD;
            --image-bg-color: #fff;
        }

        @include theme.live {
            --title-color: #7B61FF;
        }

        @include theme.user {
            --font-color: #7B61FF;
        }
    }

    /* 消息列表区域 */
    @include theme.layer {
        @include theme.tab {
            --item-bg-color: #F7F7F7CC;
            --item-active-bg-color: #fff;
            --item-active-font-color: #FF4D6C;
            --item-active-border-color: var(--border-color);
        }

        @include theme.list {}
    }
}
