
@mixin reset {
    .tbh-logo,
    .tbh-logo-right,
    .tbh-service,
    [data-name="superbanner"] {
        display: none !important;
    }

    .search-decorations,
    .main,
    .main-inner,
    .screen-outer {
        background: transparent !important;
    }

    .layer {
        background: transparent !important;
        
        .layer-inner {
            background: transparent !important;
        }

        .tb-pick-content-item {
            border-radius: 16px;
        }
    }

    // search 部分

    // 分区部分
    // .screen-outer {}

    // 底部列表部分
}

// 搜索区域
@mixin search_input {
}

// 淘江湖
@mixin taojianghu {
    .business-entry-bbs-card {
        position: absolute;
        inset: -50px 0 0 10px;
        z-index: 100;
        background: #fff !important;

        @content;
    }
}

// 淘直播
@mixin taozhibo {
    .business-entry-live-card {
        position: absolute;
        inset: 128px 0 0 10px;
        z-index: 100;
        background: #fff !important;
        height: 176px !important;

        @content;
    }
}

// 小块1 淘工厂
@mixin block1 {
    .business-entry-small-item-card:nth-of-type(4) {
        position: absolute;
        inset: 325px auto auto 10px;
        z-index: 101;
        background: #fff !important;
        height: 176px !important;

        @content;
    }
}

// 小块2 家享生活
@mixin block2 {
    .business-entry-small-item-card:nth-of-type(5) {
        position: absolute;
        inset: 80px 254px auto auto;
        z-index: 101;
        background: #fff !important;
        margin: 0;

        @content;
    }
}

@mixin taobao_nav {
    .tbh-nav {
        // width: 60%;
        // position: absolute;
        // inset: 0 0 0 274px;
        // z-index: 100;
        background: transparent;
        @content;
    }
}

@mixin banner {
    .business-entry-slide-banner {
        width: calc(100% - 260px) !important;
        height: 421px !important;

        .home-ad-banner-item {
            height: 421px !important;
        }
    }
}

// 用户模版
@mixin user {
    .col-right:has(.tbh-user) {
        position: initial;
        width: 240px;
    }

    .tbh-user {
        position: absolute;
        inset: -50px 10px auto auto;
        z-index: 100;
        background: #fff !important;
        min-height: 286px;
        height: auto !important;

        .user-externalLink {
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease;

            &::before {
                width: 100%;
                height: 20px;
                content: '';
            }

            &::after {
                height: 20px;
                content: 'arrow';
                position: absolute;
                inset: auto auto 12px 50%;
                transform: translateX(-50%);
            }

            &:hover {
                height: 166px;
            }
        }

        @content;
    }
}

@mixin baiyibutie {
    .business-entry-large-item-card {
        width: 240px !important;
        height: 256px !important;
        position: absolute;
        inset: 250px 10px auto auto;
        margin: 0 !important;
        

        .business-entry-large-item-card-content {
            width: 50%;
            padding: 0;

            .business-entry-large-item-card-content-container {
                width: 100% !important;
            }
        }
    }
}